<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" href="~/Content/jquery-easyui-1.5.5.1/demo/demo.css" />
    <link type="text/css" href="~/Content/jquery-easyui-1.5.5.1/themes/icon.css" />
    <link type="text/css" href="~/Content/jquery-easyui-1.5.5.1/themes/default/easyui.css" />
    <script type="text/javascript" src="~/Content/jquery-easyui-1.5.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/jquery-easyui-1.5.5.1/jquery.easyui.min.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
